


<h1> </h1>

<h1> team name:"<%=@teamname%>" </h1>

<p> Team Motto: <%=@teammotto%>"</p>
<p> Hero Name: <%=@hero1name%>"</p>
<p> Hero Power: <%=@hero1power%>"</p>
<p> Hero Biography: <%=@hero1bio%>"</p>
<p> Hero Name: <%=@hero2name%>"</p>
<p> Hero Power: <%=@hero2power%>"</p>
<p> Hero Biography: <%=@hero2bio%>"</p>
<p> Hero Name: <%=@hero3name%>"</p>
<p> Hero Power: <%=@hero3power%>"</p>
<p> Hero Biography: <%=@hero3bio%>"</p>
